{
  "extends": [
    "canonical",
    "canonical/typescript"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "root": true,
  "rules": {
    "import/no-named-as-default-member": 0
  }
}
